* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

button {
  outline: none;
}

:root {
  --main-color-white: rgba(255,255,255,0.8);
  --brown-color: #c96;
}
/* layout */

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

/* 
*****HEADER*****
*/

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
  transition: all 0.5s;
  z-index: 1000;
}

.header-top {
  transition: 0.5s all;
}

/* search */

.input-search {
  display: none;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding-right: 2rem;
  border: none;
  border-bottom: 1px solid var(--main-color-white);
  background: transparent;
  outline: none;
  height: 100%;
  color: white;
  transition: 0.5s all;
}

.input-search::placeholder {
  color: var(--main-color-white);
  letter-spacing: 1px;
  transition: 0.5s all;
}

.search-box {
  align-items: center;
  position: relative;
}

.search-btn {
  background: none;
  border: none;
  padding-right: 10px;
  transition: 0.5s all;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.flex-header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.search-box,
.logo-box,
.icons-box {
  display: flex;
  /* width: 33.33%; */
}

.logo-box {
  /* order: -1; */
  justify-content: center;
  margin-top: 2.5rem;
}

.logo-box h1 {
  letter-spacing: -1px;
  color: white;
  transition: 0.5s all;
}

/* icons */

.icons-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 22px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.fa-heart,
.fa-shopping-cart,
.fa-user,
.fa-search {
  font-size: 1.4rem;
  color: white;
  transition: 0.5s all;
}

.svg-icon {
  filter: invert(99%) sepia(12%) saturate(134%) hue-rotate(295deg) brightness(115%) contrast(100%);
  transition: 0.5s all;
}
.fixed-header .svg-icon {
  filter: initial;
}

.wishlist, 
.cart,
.sign-in {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.counter {
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--brown-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%,20%);
}

.wishlist > h6, 
.cart > h6,
.sign-in > h6 {
  display: none;
  font-weight: 400;
  color: white;
  transition: 0.5s all;
}

/* nav */

.nav {
  width: 100%;
  padding: 0.3rem 0;
  background: rgba(255,255,255,0.05);
  transition: 0.5s all;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-item {
  padding-right: 2rem;
}

.menu-link {
  color: var(--main-color-white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875rem;
  transition: 0.5s all;
}

.hamburger-menu {
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 1.5rem;
  z-index: 500000;
  transform: translateY(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.hamburger-menu i {
  color: var(--brown-color);
}

.menu-link:hover {
  color: #c96;
}

.flex-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-nav {
  color: var(--main-color-white);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.sale-nav h5 {
  color: var(--main-color-white);
}

.sale-alert {
  color: gold;
}

/* fixed header */
.fixed-header {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}

.fixed-header .header-top {
  background: rgba(255,255,255,1);
}

.fixed-header * ,
.fixed-header h1,
.fixed-header h6,
.fixed-header input::placeholder {
  color: rgba(0,0,0,0.8);
}

.fixed-header input {
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

.fixed-header .menu-link {
  color: white;
}

.fixed-header .menu-link:hover {
  color: var(--brown-color);
}

.fixed-header .nav {
  background: rgba(0,0,0,0.7);
}

.fixed-header .sale-alert {
  color: gold;
}
.fixed-header .sale h5 {
  color: white;
}

.wishlist:hover a,
.cart:hover a,
.sign-in:hover a{
  color: var(--brown-color);
}

/* Error */

.error {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  letter-spacing: 5px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/brushed_alu_dark.png");
}

/* Home */

.hero {
  height: 100vh;
  background-image: url("./images/slide-1.jpg");
  background-position: center;
  background-size: cover;
}

/* intro */

.intro-flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-cnt {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;

}

.intro-text {
  width: 100%;
  text-align: center;
  color: var(--brown-color);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.outro-text {
  width: 100%;
  text-align: center;
  color: var(--brown-color);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.intro-text::before {
  content: "";
  width: 20%;
  height: 1px;
  background: white;
  position: absolute;
  left: 0;
  top: 50%;
}

.intro-text::after {
  content: "";
  width: 20%;
  height: 1px;
  background: white;
  position: absolute;
  right: 0;
  top: 50%;
}

.outro-text::before {
  content: "";
  width: 20%;
  height: 1px;
  background: white;
  position: absolute;
  left: 0;
  bottom: 50%;
}

.outro-text::after {
  content: "";
  width: 20%;
  height: 1px;
  background: white;
  position: absolute;
  right: 0;
  bottom: 50%;
}

.intro-subheadline {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  color: white;
}

.intro-headline {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: white;
  text-align: center;
}

.intro-btn {
  padding: 0.5rem 2rem;
  background: none;
  border: 1px solid var(--main-color-white);
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s all;
  outline: none;
}

.intro-btn:hover {
  color: grey;
  background: white;
}

/* modal */

.backdrop {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2200;
}

.modal {
  width: 90%;
  max-width:700px;
  margin: 0 auto;
  background: white;
  border-radius: 2px;
  text-align: center;
  display: flex;
  position: relative;
}

.modal__content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 20px;
  flex: 5;
}

.modal-close-btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal .fa-times {
  color:rgba(0,0,0,0.5);
  font-size: 1.5rem;
  border-radius: 50%;
}

.modal__picture {
  flex: 3;
}

.modal-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal__content h4 {
  opacity: 0.3;
  letter-spacing: 2px;
}

.modal__content h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  letter-spacing: 2px;
}

.modal__content p {
  color: gray;
  font-size: 0.875rem;
  padding: 1rem 0;
}

.modal-alert {
  color: var(--brown-color);
}

.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.modal-input {
  height: 100%;
  padding: 0 0.5rem;
  width: 60%;
  font-family: "Poppins", sans-serif;
  background: rgba(90,90,90,0.1);
  border: none;
  outline: none;
}

.modal-input::placeholder {
  letter-spacing: 1px;
  font-weight: 400;
}

.modal-btn {
  font-family: "Poppins", sans-serif;
  padding: 5px 25px;
  height: 100%;
  color: white;
  background: black;
  border: none;
  transition: 0.3s all;
  cursor: pointer;
  letter-spacing: 1px;
}

.modal-btn:hover {
  background: var(--brown-color);
}

/* Login modal */

.choose-option {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.option-button{
  color: grey;
  margin-top: 1rem;
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid grey;
  background: none;
  cursor: pointer;
  outline: none;
}


.modal__signin {
  width: 100%;
}

.modal__signin-form {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.signin-input {
  padding: 0.5rem;
  width: 100%;
}

.modal__signin-form label {
  padding-top: 0.5rem;
  color: grey;
  text-align: left;
  font-weight: 300;
}

.btn-login {
  padding: 0.5rem 2rem;
  background: none;
  border: 1px solid var(--brown-color);
  font-family: 'Poppins', sans-serif;
  color: var(--brown-color);
}

.modal__signin-inputs {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

input[name=remember] {
  margin-right: 0.2rem;
}

.active-button {
  color: var(--brown-color);
  border-bottom: 1px solid var(--brown-color);
}
/* TRENDING */

.section-title {
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
  letter-spacing: 2px;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
  gap: 20px;
}

.col-cnt {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.trending-l {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/clothes/banner-1.jpg");
  background-size: cover;
}

.trending-m {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url("./images/clothes/banner-2.jpg");
  background-size: cover;
  
}

.sm-cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.trending-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.trending-sm,
.trending-l,
.trending-m {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.trending-wishlist-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.trending-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-title,
.trending-price {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
}

.banner-3 {
  background: url("./images/clothes/banner-3.jpg");
  background-size: cover;
  background-position: center;
}

.banner-4 {
  background: url("./images/clothes/banner-4.jpg");
  background-size: cover;
  background-position: center;
}

.trending-btns-cnt {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trending-btn {
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 3px 0px  rgba(255,255,255,0.75);
  box-shadow: 0px 0px 3px 0px  rgba(255,255,255,0.75);
}

.trending-btn:hover {
  background: white;
  color: gray;
}

/* BAR */

.bar {
  /* height: 200px; */
  background: rgba(29,29,29);
  padding: 2rem 0;
}

.bar-flex {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.bar-item {
  padding: 1rem;
  height: 60%;
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.bar-item-desc {
  text-align: center;
}
.bar-item i {
  font-size: 2rem;
  color: var(--brown-color);
}

.bar-item-headline {
  font-size: 0.87rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transform: translateY('20px')
}

.bar-item-subheadline {
  font-size: 0.875rem;
  color: grey;
  letter-spacing: .3px;
}

/* arrivals */

.arrivals-cnt {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.arrival-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  object-fit: cover;
  justify-content: space-between;
}

.arrival-front {
  position: relative;
  width: 100%;
  height: 200px;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.arrival-item-desc {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrival-btns-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  bottom: 0;
  padding: 1rem 0;
  background: rgba(0,0,0,.5);
  flex-direction: column;
}

.arrival-btn {
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  transition: 0.5s all;
  font-size: 0.8rem;
}


.arrival-btn:hover {
  background: white;
  color: gray;
}

.arrival-item__headline {
  text-transform: uppercase;
  color: gray;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.arrival-item__category {
  color: gray;
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
}

.arrival-item__price {
  font-weight: 400;

}

/* FOOTER */

.footer {
  padding: 2rem 0;
  background: rgb(28,28,28);
}

.footer-flex {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.footer-col-title {
  font-weight: 300;
  color: var(--brown-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-link {
  color: gray;
  text-transform: uppercase;
  font-size: 0.875rem;
  transition: 0.3s color;
}

.footer-link:hover {
  color: white;
}

.center {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-line {
  margin-top: 3rem;
  height: 1px;
  width: 100%;
  background: var(--brown-color);
  opacity: 0.4;
}

.footer-subheadline {
  padding-top: 1rem;
  text-align: center;
  color: var(--brown-color);
  letter-spacing: 2px;
  font-weight: 300;
}

/* SALE */

.sale-hero {
  width: 100%;
  height: 100vh;
  background-image: url("./images/sale-m.jpg");
  background-size: cover;
  background-position: center;
}

.sale-headline {
  font-size: 3rem;
  letter-spacing: 1rem;
  color: gold;
}

.price-before {
  color: red;
  text-decoration: line-through;
}

/* DETAILS */

.details,
.contact,
.wishlist-section,
.cart-section,
.wishlist-section {
  width: 100%;
  min-height: 100vh;
}

.details {
  padding-bottom: 2rem;
  height: 100%;
}

.details-flex {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  /* height: 460px; */
  width: 90%;
  border-radius: 5px;
  padding: 1rem;
  z-index: 1;
}

.details-content {
  padding: 0 1rem;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.details-photo {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: auto;
  max-height: 100%;
}

.details-title {
  margin-top: 1rem;
  color: grey;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
}

.stars-reviews {
  margin-top: 1rem;
  color: grey;
}

.stars {
  color: gold;
  font-size: 0.875rem;
  cursor: pointer;
}

.reviews {
  color: grey;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.875rem;
}

.details-price {
  color: grey;
  font-weight: 400;
}

.details label {
  color: var(--main-color-white);
}

.details-img {
  max-width: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.details-product-desc {
  color: grey;
  font-size: 0.875rem;
  text-indent: 1rem;
  font-weight: 300;
  text-align: justify;
}

.details-options-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}

.details-size {
  height: 100%;
}

.select-size {
  height: 100%;
  width: 250px;
  padding: 0.5rem 0.2rem;
  font-family: 'Poppins', sans-serif;
  color: gray
}

.details-qty {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.qty-btn {
  height: 100%;
  width: 40px;
  background: none;
  border: 1px solid grey;
  color: grey;
  outline: none;
  cursor: pointer;
}

.qty-span {
  font-size: 1.3rem;
  color: grey;
}

.details-add-cart {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: row;
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  color: grey;
  font-family: 'Poppins', sans-serif;
  padding: .5rem 1rem;
  background: none;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.details-btn i {
  color: grey;
  font-size: 0.875rem;
}

/* catalog */

.catalog-hero {
  width: 100%;
  height: 100vh;
  background-image: url('./images/catalog-bg.jpg');
  background-size: cover;
  background-position: center;
}

.catalog-products {
  width: 100%;
}

.catalog-cnt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-filters {
  width: 100%;
}

.catalog-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
  min-height: 200px;
}

.filters {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem 0;
}

label {
  display: flex;
  align-items: center;
  color: grey;
  margin-right: 15px;
}

.filters label input {
  margin-right: 4px;
}

.filters__search-input {
  font-family: "Poppins", sans-serif;
  width: 90%;
  padding: 0.2rem 0.2rem;
  margin: 1rem auto;
  border: 1px solid grey;
  border-radius: 5px;
}

.categories-filters {
  margin: 0 auto;
  width: 90%;
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.range-cnt {
  margin: 1rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.price-filter {
  width: 80%;
}

/* CART */
.cart-flex {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.cart-space {
  padding-top: 115px;
  height: 5rem;
}

.cart-banner {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-headline {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* CARDDD */

.shopping-cart {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shopping-cart-content,
.wishlist-content {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  justify-content: center;
}

.card-product {
  /* height: 100%; */
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.card-product-img {
  display: block;
  width: 100%;
  max-height: 300px;
  /* height: 200px; */
  object-fit: cover;
}

.card-product-name {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(30,30,30,1);
  font-weight: 400;
  letter-spacing: 1px;
}

.card-product-price {
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: black;
  font-weight: 400;
}

.card-product-size {
  font-weight: 400;
  font-size: 0.8rem;
}

.card-delete-item {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
  border-top: 1px solid rgba(220,220,220);
  width: 100%;
  
}

.card-btns-cnt {
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
}

.cart-increment-product,
.cart-decrement-product {
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid grey;
}

.cart-quantity {
  display: block;
  width: 33px;
  height: 25px;
  text-align: center;
}

.checkout-btn,
.add-to-cart {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: black;
  background: rgba(255,255,255,0.9);
  outline: none;
}

/* shopping card total */

.shopping-card-total {
  position: fixed;
  bottom: 0;
  
}

.card-total-flex {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shopping-card-total-price {
  display: flex;
  align-items: center;
  text-align: center;
}

.shopping-card-total-price h5{
  text-transform: uppercase;
  font-size: 1.1rem;
}

.card-total-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}

.btn-checkout {
  border: 2px solid var(--brown-color);
  color: var(--brown-color);
  background: rgba(0,0,0,.8);
}

.card-btns-cnt {
  width: 100%;
}

/* WISHLIST */

.wishlist-flex {
  padding-top: 2rem;
}

.wishlist-btns-cnt {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(220,220,220);
  padding: 0.5rem 0;
}

.wishlist-btns-cnt .card-delete-item {
  width: initial;
  border-top: initial;
}

.add-item {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

.add-to-cart {
  font-size: 0.875rem;
  margin: 0 auto;
  width: 70%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wishlist-icon {
  color: black;
  font-size: 0.875rem;
}

.to-hide {
  display: none;
}

.cart-header {
  grid-template-columns: 3fr 1fr 1fr 1fr 20px;
}

.cart-product-row {
  grid-template-columns: 3fr 1fr 1fr 1fr 20px;
}

/* add cart modal */

.add-cart-modal {
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: var(--brown-color);
  transform: translateX(-50%);
  z-index: 5000;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
}

.add-cart-modal h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.shopping-card-total {
  height: 80px;
  width: 100vw;
  background:white;
  border-top: 1px solid rgba(220,220,220);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5000;
}

.no-matches {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.svg-flex {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-empty {
  width: 200px;
  display: block;
}

.svg-icon {
  display: block;
  width: 22px;
  height: 22px;
}

.mobile-menu-cnt {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  background: white;
  z-index: 100000;
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0rem auto;
  list-style: none;
  gap: 40px;
  width: 90%;
  /* background: gold; */
}

.mobile-menu-item {
  border-bottom: 1px solid var(--brown-color);
}

.mobile-menu-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--brown-color);
}

.choose-size {
  height: 50%;
  background: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.select-size-product {
  font-family: "Poppins", sans-serif;
  color: white;
  font-family: 1rem;
  padding: 0.2rem 0.5rem;
  padding-left: 0;
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
}

.select-size-product option {
  color: black;
  text-align: center;
}

.product-div {
  position: relative;
}

.form-price {
  width: 100%;
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.price-input {
  margin-left: 5px;
  width: 60px;
  outline: none;
  color: grey;
  font-family: "Poppins", sans-serif;
}

.price-input::placeholder {
  color: rgba(0,0,0,.3);
}

.filter-label {
  text-transform: uppercase;
  font-size: 0.87rem;
  padding-bottom: 0.2rem;
}

.filter-price-cnt {
    margin: 0.5rem auto;
    width: 90%;
}

.search-box {
  display: none;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {
  
  .intro-cnt {
    height: 40%;
  }

  .flex-header {
    flex-direction: row;
  }

  .flex-nav {
    justify-content: space-between;
  }
  .logo-box,
  .icons-box,
  .search-box {
    width: 33.33%;
  }

  .logo-box {
    margin-top: 0;
  }

  .icons-box {
    position: initial;
  }

  .wishlist > h6, 
  .cart > h6,
  .sign-in > h6 {
    display: initial;
  }

  .input-search {
    display: initial;
  }

  .intro-text,
  .outro-text {
    letter-spacing: 5px;
  }

  .intro-text::before,
  .intro-text::after,
  .outro-text::before,
  .outro-text::after {
    width: 40%;
  }
  
  .intro-headline {
    font-size: 4rem;
  }

  .sale-headline {
    font-size: 5rem;
    letter-spacing: 2rem;
    color: gold;
  }
  
  .intro-subheadline {
    font-size: 1rem;
  }

  .flex-row {
    flex-direction: row;
  }

  .trending-btns-cnt {
    flex-direction: row;
  }

  .bar-flex {
    display: flex;
    flex-direction: row;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
  }

  .footer-col-title {
    text-align: left;
  }

  .footer-list {
    text-align: left;
  }

  .catalog-cnt {
    flex-direction: row;
  }

  .catalog-filters {
    width: 25%;
  }

  .catalog-items {
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: flex-start;
    width: 75%
  }

  .categories-filters {
    flex-direction: column;
  }

  .product-name {
    display: initial;
  }

  .wishlist-header {
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr 150px 20px 250px;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: center;
  }
  
  .wishlist-row {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 4fr 1fr 150px 20px 250px;;
    align-items: center;
  }

  .to-hide {
    display: initial;
  }

  .shopping-cart {
    flex-direction: row;
  }

  .modal__content h2 {
    font-size: 2.5rem;
    padding: initial;
  }

  .modal__content p {
    font-size: initial;
    padding: initial;
  }

  .details-flex {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .details-photo {
    min-width: 350px
  }

  .details-options-cnt {
    align-items: initial;
  }

  .shopping-cart-content,
  .wishlist-content {
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: flex-start;
  }

  .arrivals-cnt {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .arrival-front {
    height: 400px;
  }

  .arrival-item {
    justify-content: initial;
  }

  .arrival-item-desc {
    min-height: initial;
    justify-content: baseline;
  }

  .card-product-img {
    height: 450px;
    object-fit: cover;
  }

  .details-title {
    margin: initial;
  }

  .details-flex {
    justify-content: space-between;
    height: 480px;
  }

  .arrival-btns-cnt {
    flex-direction: row;
  }

  .arrival-btn {
    font-size: initial;
    font-size: 0.8rem;
  }

  .choose-size {
    height: 4rem;
  }

  .select-size-product {
    cursor: pointer;
  }

  /* SEARCH */

  .search-box {
    display: flex;
  }

.search-cnt {
  background: white;
  width: 350px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  position: absolute;
  top: 70px;
  z-index: 120;
  max-height: 500px;
  overflow-y: auto;
}

.search-cnt::before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid rgba(240,240,240,1);
}

.item:last-of-type {
  border-bottom: none;
}

.item h2 {
  width: 100%;
  font-size: 0.7rem;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
}

.item h5 {
  font-size: 0.6rem;
}

.item img {
  width: 50px;
  border-radius: 2px;
}

.item button {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 5px;
  font-size: 0.7rem;
  cursor: pointer;
}

.type-phrase {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

}